.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  z-index: 9999;
  pointer-events: none;
  display: none;
  will-change: transform;
}

.content {
  opacity: 1;
  will-change: opacity;
}

